@include keyframes(bounce) {
  0%, 20%, 50%, 80%, 100% {  @include translateX(0); }
  40% { @include translateX(-30px); }
  60% { @include translateX(-15px); }
}

@include keyframes(input-bounce) {
  0% {  background-color: $color-grey-10; }
  50% { background-color: lighten($color-primary, 25%); }
  100% { background-color: $color-grey-10; }
}

@include keyframes(fadein) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@include keyframes(flyright) {
  0% { opacity: 0; @include translateX(-10px); }
  100% { opacity: 1; @include translateX(0px); }
}

@include keyframes(flybot) {
  0% { opacity: 0; @include translateY(10px); }
  100% { opacity: 1; @include translateY(0px); }
}

@include keyframes(box-flyin-top) {
  0% { opacity: 0; @include translateY(-10px); }
  100% { opacity: 1; @include translateY(0px); }
}

@include keyframes(box-flyin-bottom) {
  0% { opacity: 0; @include translateY(10px); }
  100% { opacity: 1; @include translateY(0px); }
}


@include keyframes(box-flyout) {
  0% { opacity: 1; @include translateY(0px); }
  100% { opacity: 0; @include translateY(-10px); }
}



.fly-in {
   @include animation(box-flyin-bottom, 0.9s, 1);
}

