@font-face {
	font-family: 'asso-plantes';
	src:url('../assets/fonts/asso-plantes.eot?-o7aqq5');
	src:url('../assets/fonts/asso-plantes.eot?#iefix-o7aqq5') format('embedded-opentype'),
		url('../assets/fonts/asso-plantes.ttf?-o7aqq5') format('truetype'),
		url('../assets/fonts/asso-plantes.woff?-o7aqq5') format('woff'),
		url('../assets/fonts/asso-plantes.svg?-o7aqq5#asso-plantes') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'asso-plantes';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mouse:before {
	content: "\e600";
}
.icon-lamp:before {
	content: "\e601";
}
.icon-attachment:before {
	content: "\e602";
}
.icon-info:before {
	content: "\e603";
}
.icon-paperplane:before {
	content: "\e604";
}
.icon-rocket:before {
	content: "\e605";
}
.icon-grin:before {
	content: "\e606";
}
.icon-filter:before {
	content: "\e607";
}
.icon-friends:before {
	content: "\e608";
}
.icon-ennemies:before {
	content: "\e609";
}
.icon-search:before {
	content: "\e60a";
}
.icon-close:before {
	content: "\e60b";
}
